<html>
<head>
  <title>Amsterdam Music Hack</title>
  <link rel="stylesheet" href="{{url_for('static', filename='hack.css')}}" type="text/css">
</head>
<body>
<div class="main">
  <h1>SMS Trivia Tool</h1>

  <h2>Send a text to +1 781 996 3571 to get music information.</h2>
  <p> Supported commands: </p>
  <ul>
    <li>name bieber</li>
    <li>bio radiohead</li>
    <li>review born to run</li>
    <li>album blood bank</li>
    <li>song littlest birds</li>
  </ul>
  <p> APIs Used: </p>
  <ul>
    <li>Rovi for metadata</li>
    <li>Twilio for SMS</li>
  </ul>
  <p> The original version of this hack was created by Brian Fife in 24 hours at
  Music Hack Day Amsterdam 2012. </p> 

  <p> Note that google voice will support SMS responses, but Skype
  does not. </p>
</div><!-- main -->	
</body>
</html>
